@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Montserrat:wght@100&display=swap");
@import "./node_modules/prismjs/themes/prism-okaidia.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.blog {
  line-height: 2rem;
  font-weight: 100;
  @apply text-gray-600;  

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-navigation;
    @apply mb-2;
  }

  h2 {
    @apply text-xl;
    @apply mt-2;
    border-bottom: 1px solid #EEE;
  }

  h3 {
    @apply text-lg;
  }

  p {
    @apply mb-4;
    text-indent: 2rem;

    a,
    a:active,
    a:link,
    a:visited,
    a:hover {
      @apply text-green-600;
      @apply underline;
    }

    strong {
      font-weight: 700;
    }
  }
  & > iframe {
    width: 100%;
  }

  .eleventy-plugin-embed-instagram {
    max-width: 400px;
    margin: auto !important;
  }

  .eleventy-plugin-youtube-embed {
    @apply mx-4;
    @apply my-3;
    width: calc(100% - 2rem) !important;
  }

  pre {
    width: calc(100% - 2rem) !important;
    overflow-x: auto;
    @apply text-xs;
  }

  ul,
  ol {
    margin-left: 3rem;
  }

  ul {
    list-style: upper-alpha;
  }
  ol {
    list-style: decimal;
  }
}

body.show-sidebar {
  .sidebar {
    display: block !important;
  }
}

body > .container {
  margin-top: 4rem;
}

@media (min-width: 1024px) {
  body > .container {
    margin-top: 6rem;
  }
}

twitter-widget, .twitter-tweet {
  margin: auto;
}

$ribbons: ( "private": "#68d391", "software-development-management": "#d69e2e", "politics-opinions": "#E3342F" );

.ribbon {
  @apply text-sm;
}

@each $category, $color in $ribbons {
  .category-#{$category} {
    background-color: #{$color};
    @apply shadow-2xl;
    @apply p-2;
    @apply px-4;
    @apply text-white;
  }
  .ribbon-#{$category} {
    position: relative;  
    @apply p-2;
    @apply px-4;
    @apply -ml-6;
    @apply inline-block;
    background-color: #{$color};
    @apply text-white;
    @apply shadow;
    @apply shadow-2xl;

    &:before, &:after {
      content: "";
      position: absolute;
      display: block;  
      border: 1.5em solid #{$color};    
    }
    &:before {
      left: -2em;
      bottom: -1em;
      border-right-width: 1.5em;
      border-left-color: transparent;
      z-index: -1;
    }
    &:after {
      left: 100%;
      top: 0;  
      border-width: 1.31em;
      border-right-color: transparent;
      border-left-width: 0em;
   }  
  }
}

.limited {
  max-height: 8rem;
  overflow: hidden;
  position: relative;
  &:after {
    display: block;
    content: "";
    bottom: -1rem;
    width: 100%;
    height: 4rem;
    position: absolute;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  }
}

.limited-low {
  max-height: 3rem;
  &:after {
    height: 1rem;
  }
}

.review {
  @apply shadow;
  @apply shadow-lg;
  @apply p-2;
  @apply pb-4;
  @apply text-xs;
  @apply text-gray-600;
  @apply bg-yellow-200;
  @apply mb-4;
  position: relative;
  &:before {
    content: "Review";
    display: block;
    @apply text-sm;
    @apply text-black;
  }
}

.hide-review {
  .review {
    display: none;
  }
}

.img-with-label {
  margin: 1rem 0;
  background: white;
  position: relative;
  text-align: center;
  > img {
    display: inline-block;
  }
  > span {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.8);  
    color: black;
    padding: 0.25rem 1rem;
    font-size: 1rem;
  }
}


.dark {
  background: black;
  color: white;
  .img-with-label {
    background: black;
    > span {
      background: rgba(0, 0, 0, 0.8);
      color: white;  
    }
  }
  .bg-white {
    background: #333;
  }
  .bg-gray-200 {
    background: black;
  }
  .limited {    
    &:after {
      background: linear-gradient(180deg, rgba(33,33,33,0) 0%, #333 100%);
    }
  }
  .text-gray-900 {
    color: white;
  }
  .blog, .text-gray-700 {
    color: #AAA;
  }
  .text-gray-600 {
    color: #999;
  }
  .blog {
    a,
    a:active,
    a:link,
    a:visited,
    a:hover {
      @apply text-green-600;
      @apply underline;
    }
  }
}

