{% extends 'intro.njk' %}

{% block introtitle %}
Welcome
{% endblock %}

{% block introbody %}
<p>Opinions about an outspoken Pole. Some about <a href="/blog/category/politics-and-opinions/" class="text-red-500">politics</a>, <a href="/blog/category/software-development-and-management/" class="text-orange-500">programming</a> or simply <a class="text-green-500" href="/blog/category/private">private matters and general stuff</a>.</p>
{% endblock %}