<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charSet='utf-8'/>
        <meta httpEquiv='x-ua-compatible' content='ie=edge'/>
        <meta
          name='viewport'
          content='width=device-width, initial-scale=1, shrink-to-fit=no'
/>
        <title>{{ title }}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link rel="preload" href="https://fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm45_QpRyS7m0dR9pA.woff2" as="font" crossorigin>
        <link rel="preload" href="https://fonts.gstatic.com/s/arvo/v13/tDbD2oWUg0MKqScQ7Z7o_vo.woff2" as="font" crossorigin>
        <link rel="preload" href="https://fonts.gstatic.com/s/muli/v20/7Auwp_0qiz-afTLGLQjUwkQ.woff2" as="font" crossorigin>
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Arvo&family=Merriweather:ital,wght@0,300;0,400;1,300&family=Montserrat:wght@100&display=swap" as="stylesheet" crossorigin>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body class="bg-gray-100 leading-normal tracking-normal">
        {% include './navigation.njk' %}
        <div class="container w-full md:max-w-3xl mx-auto pt-20">
            {% block inner %}{{content | safe}}{% endblock %}            
        </div>
    </body>
</html>