---
pagination:
  data: collections.tag
  size: 1
  alias: postslist
permalink: /blog/tag/{{ postslist.slug }}/index.html
---

<h2 class="text-4xl">#{{ postslist.title }}</h2>
{%- include 'postslist.njk' -%}