html, body {
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  margin: 0px;
  margin-top: 0px;
}

@media (min-width: 576px) {
  .mobile-only {
    display: none;
  }
}
@media (max-width: 576px) {
  .desktop-only {
    display: none;
  }
}
