.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0;
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0;
}

.ui.stripe.alternate {
  background-color: #f2f3f5;
}

.quote.stripe.segment {
  padding: 0;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .masthead.segment {
    min-height: 350px;
  }

  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

/* Code blocks (Fix a strange bug with prismjs) */
pre {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
  background: #272822;
}

.ui.massive.segment p,
.ui.massive.segments .segment p {
  line-height: 1.5;
  font-family:
    "Merriweather",
    "PT Serif",
    Georgia,
    "Times New Roman",
    serif;
  color: #333;
  font-size: 1.4rem;
  font-weight: 300;
}

.ui.vertical.piled.segment {
  padding-left: 2rem;
  padding-right: 2rem;
}

.ui.vertical.raised.segment {
  padding: 1rem;
}

.ui.list > .item > .content {
  line-height: 1.8em !important;
}

.ui.segment.vertical.blog-post {
  max-width: 62rem;
  margin: auto;
}

.ui.segment.vertical.blog-post h1.ui.header {
  font-size: 3.5rem;
}

.ui.segment.vertical.blog-post-body {
  font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
  font-size: 1.5rem;
  line-height: 2rem;
  max-width: 62rem;
  margin: auto;
}

.ui.segment.vertical.blog-post-body pre {
  font-size: 1rem;
}
